npm-debug.log
node_modules

# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
tracker/dist
tracker/tmp

# dependencies
tracker/node_modules
tracker/bower_components

# misc
tracker/.sass-cache
tracker/connect.lock
tracker/coverage/*
tracker/libpeerconnection.log
npm-debug.log*
yarn-error.log
testem.log

# ember-try
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try
